/* @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&display=swap');
.old001, .old002, .old003{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-decoration: none;
}
.old001 a{
    text-decoration: none;
    font-family: 'Merriweather', serif;
    /* border: 3px ridge azure; */
}
 .old002 a{
    text-decoration: none;
    font-family: 'Merriweather', serif;
}
h1 a{
    color: burlywood;
    float: unset;
}
.old003 a{
    text-decoration: none;
    font-family: 'Merriweather', serif;
    display: grid;
    justify-content: stretch;
}